<!DOCTYPE html>
<html>
<head>
  <title>BasicWebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>

<h1>LOGO</h1>

<ul>
	<li><a href=<%="/users/#{session[:user_id]}"%>>HOME</a></li>

	<li><a href="/posts">POSTS</a></li>

	<li><%= link_to ("LOGOUT"),"/sessions/destroy",method: :delete %></li> <!-- should redirect to original signin page -->
</ul>


<%= yield %>

</body>
</html>
